The Palmer Penguins dataset has data about penguin species, physical characteristics, and where they live in antartica

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
penguins_df = sns.load_dataset("penguins")

In [3]:
penguins_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [4]:
penguins_df.head(1)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male

In [5]:
penguins_df.tail()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [6]:
penguins_df.shape

(344, 7)

In [7]:
penguins_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [8]:
penguins_df.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

In [9]:
penguins_df.describe(include="all")

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
count,344,344,342.000000,342.000000,342.000000,342.000000,333
unique,3,3,NaN,NaN,NaN,NaN,2
top,Adelie,Biscoe,NaN,NaN,NaN,NaN,Male
freq,152,168,NaN,NaN,NaN,NaN,168
mean,NaN,NaN,43.921930,17.151170,200.915205,4201.754386,NaN
std,NaN,NaN,5.459584,1.974793,14.061714,801.954536,NaN
min,NaN,NaN,32.100000,13.100000,172.000000,2700.000000,NaN
25%,NaN,NaN,39.225000,15.600000,190.000000,3550.000000,NaN
50%,NaN,NaN,44.450000,17.300000,197.000000,4050.000000,NaN
75%,NaN,NaN,48.500000,18.700000,213.000000,4750.000000,NaN
max,NaN,NaN,59.600000,21.500000,231.000000,6300.000000,NaN

In [10]:
penguins_df.dtypes

species               object
island                object
bill_length_mm       float64
bill_depth_mm        float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

In [11]:
numeric_cols = penguins_df.select_dtypes(include=["number"])
categorical_cols = penguins_df.select_dtypes(include=["object", "category"])

In [12]:
numeric_cols

     bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
0              39.1           18.7              181.0       3750.0
1              39.5           17.4              186.0       3800.0
2              40.3           18.0              195.0       3250.0
3               NaN            NaN                NaN          NaN
4              36.7           19.3              193.0       3450.0
..              ...            ...                ...          ...
339             NaN            NaN                NaN          NaN
340            46.8           14.3              215.0       4850.0
341            50.4           15.7              222.0       5750.0
342            45.2           14.8              212.0       5200.0
343            49.9           16.1              213.0       5400.0

[344 rows x 4 columns]

In [13]:
categorical_cols

    species     island     sex
0    Adelie  Torgersen    Male
1    Adelie  Torgersen  Female
2    Adelie  Torgersen  Female
3    Adelie  Torgersen     NaN
4    Adelie  Torgersen  Female
..      ...        ...     ...
339  Gentoo     Biscoe     NaN
340  Gentoo     Biscoe  Female
341  Gentoo     Biscoe    Male
342  Gentoo     Biscoe  Female
343  Gentoo     Biscoe    Male

[344 rows x 3 columns]

Looking at the data, we have a decent amount of missing values for sex and full island and specices values. There doesn't seem to be any extreme outliers, but we haven't checked distributions yet so that is subject to change.

***PHASE 3***

In [14]:
penguins_df.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [15]:
penguins_df[penguins_df.isnull().any(axis=1)]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN
47,Adelie,Dream,37.5,18.9,179.0,2975.0,NaN
246,Gentoo,Biscoe,44.5,14.3,216.0,4100.0,NaN
286,Gentoo,Biscoe,46.2,14.4,214.0,4650.0,NaN
324,Gentoo,Biscoe,47.3,13.8,216.0,4725.0,NaN
336,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,NaN
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN

In [16]:
penguins_df.loc[penguins_df.isnull().any(axis=1), "sex"] = penguins_df["sex"].mode()[0]
penguins_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,Male
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,Male
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [17]:
penguins_df.isnull().sum()

species              0
island               0
bill_length_mm       2
bill_depth_mm        2
flipper_length_mm    2
body_mass_g          2
sex                  0
dtype: int64

In [18]:
penguins_df = penguins_df.drop(
    penguins_df.loc[numeric_cols.isnull().any(axis=1), numeric_cols.columns].index
)

In [19]:
penguins_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 342 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            342 non-null    object
 1   island             342 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                342 non-null    object
dtypes: float64(4), object(3)
memory usage: 21.4+ KB

In [20]:
penguins_df.reset_index(drop=True, inplace=True)

In [21]:
penguins_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            342 non-null    object
 1   island             342 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                342 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.8+ KB

In [22]:
penguins_df.describe()["bill_length_mm"]["25%"]

np.float64(39.225)

In [23]:
penguins_df["bill_length_mm"].quantile(0.25)

np.float64(39.225)

In [24]:
penguins_df.loc[:, numeric_cols.columns].quantile(0.25)

bill_length_mm         39.225
bill_depth_mm          15.600
flipper_length_mm     190.000
body_mass_g          3550.000
Name: 0.25, dtype: float64

In [25]:
qr1_vals = penguins_df[numeric_cols.columns].quantile(.25)

In [26]:
qr3_vals = penguins_df[numeric_cols.columns].quantile(.75)

In [27]:
iqr_vals = qr3_vals - qr1_vals

In [28]:
iqr_vals

bill_length_mm          9.275
bill_depth_mm           3.100
flipper_length_mm      23.000
body_mass_g          1200.000
dtype: float64

In [29]:
lower_bound = qr1_vals - (1.5 * iqr_vals)

In [30]:
upper_bound = qr3_vals + (1.5 * iqr_vals)

In [31]:
outlier_indices = []

for col in numeric_cols.columns:
    outlier_rows = numeric_cols[
        (numeric_cols[col] < lower_bound[col]) | (numeric_cols[col] > upper_bound[col])
    ].index
    outlier_indices.extend(outlier_rows)

In [32]:
outlier_indices

[]

no outliers detected

***PHASE 4***

1) **Descriptive Statistics**

In [33]:
penguins_df_stats = penguins_df[numeric_cols.columns].describe().T

In [34]:
penguins_df_stats

,count,mean,std,min,25%,50%,75%,max
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.5,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.7,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.0,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.0,6300.0

Mean

In [35]:
penguins_df_stats["mean"]

bill_length_mm         43.921930
bill_depth_mm          17.151170
flipper_length_mm     200.915205
body_mass_g          4201.754386
Name: mean, dtype: float64

Median

In [36]:
penguins_df_stats["50%"]

bill_length_mm         44.45
bill_depth_mm          17.30
flipper_length_mm     197.00
body_mass_g          4050.00
Name: 50%, dtype: float64

Mode

In [37]:
penguins_df[numeric_cols.columns].mode().T.rename(columns={0 : "mode"})

                     mode
bill_length_mm       41.1
bill_depth_mm        17.0
flipper_length_mm   190.0
body_mass_g        3800.0

Standard Deviation

In [38]:
penguins_df_stats["std"]

bill_length_mm         5.459584
bill_depth_mm          1.974793
flipper_length_mm     14.061714
body_mass_g          801.954536
Name: std, dtype: float64

Range

In [39]:
penguins_df_stats["max"] - penguins_df_stats["min"]

bill_length_mm         27.5
bill_depth_mm           8.4
flipper_length_mm      59.0
body_mass_g          3600.0
dtype: float64

Unique Qualitative Values

In [40]:
penguins_df[["species", "sex", "island"]].nunique()

species    3
sex        2
island     3
dtype: int64

2) **Group Analysis**

Average body mass by species

In [41]:
penguins_df.groupby("species")["body_mass_g"].mean()

species
Adelie       3700.662252
Chinstrap    3733.088235
Gentoo       5076.016260
Name: body_mass_g, dtype: float64

Most common species by island

In [42]:
penguins_df.groupby("island")["species"].agg(lambda x : x.mode().iloc[0])

island
Biscoe          Gentoo
Dream        Chinstrap
Torgersen       Adelie
Name: species, dtype: object

Average flipper length by sex

In [43]:
penguins_df.groupby("sex")["flipper_length_mm"].mean()

sex
Female    197.363636
Male      204.225989
Name: flipper_length_mm, dtype: float64

3) **Aggregation Practice**

Pivot table: average flipper length per species and island

In [44]:
pd.pivot_table(penguins_df, index="species", columns="island", values="flipper_length_mm", aggfunc="mean")

island         Biscoe       Dream   Torgersen
species
Adelie     188.795455  189.732143  191.196078
Chinstrap         NaN  195.823529         NaN
Gentoo     217.186992         NaN         NaN

Multi Index Aggregation: body mass by sex and species

In [45]:
penguins_df.groupby(["sex", "species"])["body_mass_g"].mean()

sex     species
Female  Adelie       3368.835616
        Chinstrap    3527.205882
        Gentoo       4679.741379
Male    Adelie       4011.217949
        Chinstrap    3938.970588
        Gentoo       5429.615385
Name: body_mass_g, dtype: float64

Double checking no null

In [46]:
penguins_df.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

4) **Sorting and filtering**

Top 5 heaviest penguins

In [47]:
penguins_df["body_mass_g"].sort_values(ascending=False).head()

236    6300.0
252    6050.0
296    6000.0
336    6000.0
330    5950.0
Name: body_mass_g, dtype: float64

Penguins with longset bill length

In [48]:
penguins_df.loc[penguins_df["bill_length_mm"] == penguins_df["bill_length_mm"].max()]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
252,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,Male

Adelie penguins average metrics

In [49]:
penguins_df.loc[penguins_df["species"] == "Adelie", numeric_cols.columns].describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      151.000000     151.000000         151.000000   151.000000
mean        38.791391      18.346358         189.953642  3700.662252
std          2.663405       1.216650           6.539457   458.566126
min         32.100000      15.500000         172.000000  2850.000000
25%         36.750000      17.500000         186.000000  3350.000000
50%         38.800000      18.400000         190.000000  3700.000000
75%         40.750000      19.000000         195.000000  4000.000000
max         46.000000      21.500000         210.000000  4775.000000

Chinstrap vs Gentoo body mass statistics

In [50]:
penguins_df.loc[ (penguins_df["species"].isin(["Chinstrap", "Gentoo"])), ["species", "body_mass_g"]].groupby("species").describe().T

species              Chinstrap       Gentoo
body_mass_g count    68.000000   123.000000
            mean   3733.088235  5076.016260
            std     384.335081   504.116237
            min    2700.000000  3950.000000
            25%    3487.500000  4700.000000
            50%    3700.000000  5000.000000
            75%    3950.000000  5500.000000
            max    4800.000000  6300.000000

5) **Derived Columns**

Bill Ratio

In [51]:
penguins_df["bill_ratio"] = penguins_df["bill_length_mm"] / penguins_df["bill_depth_mm"]

Mass in KG

In [52]:
penguins_df["mass_kg"] = penguins_df["body_mass_g"] / 1000

In [53]:
penguins_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,bill_ratio,mass_kg
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,2.090909,3.750
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,2.270115,3.800
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,2.238889,3.250
3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,1.901554,3.450
4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male,1.907767,3.650
...,...,...,...,...,...,...,...,...,...
337,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female,3.445255,4.925
338,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female,3.272727,4.850
339,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male,3.210191,5.750
340,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female,3.054054,5.200
341,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male,3.099379,5.400

Z-Scores of flipper Length

In [54]:
flipper_stats = penguins_df["flipper_length_mm"].describe()
flipper_stats

count    342.000000
mean     200.915205
std       14.061714
min      172.000000
25%      190.000000
50%      197.000000
75%      213.000000
max      231.000000
Name: flipper_length_mm, dtype: float64

In [55]:
penguins_df["flipper_z_score"] = (penguins_df["flipper_length_mm"] - np.mean(penguins_df["flipper_length_mm"])) / np.std(penguins_df["flipper_length_mm"])
penguins_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,bill_ratio,mass_kg,flipper_z_score
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,2.090909,3.750,-1.418347
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,2.270115,3.800,-1.062250
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,2.238889,3.250,-0.421277
3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,1.901554,3.450,-0.563715
4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male,1.907767,3.650,-0.777373
...,...,...,...,...,...,...,...,...,...,...
337,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female,3.445255,4.925,0.931890
338,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female,3.272727,4.850,1.003109
339,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male,3.210191,5.750,1.501644
340,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female,3.054054,5.200,0.789451
341,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male,3.099379,5.400,0.860670

***PHASE 5***

1) Convert numeric series to Numpy Arrays

In [56]:
np_arrs = []
for col in numeric_cols.columns:
    np_arrs.append(penguins_df[col].to_numpy())
numeric_cols.columns
#0: 'bill_length_mm', 
#1: 'bill_depth_mm', 
#2: 'flipper_length_mm', 
#3: 'body_mass_g'

Index(['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g'], dtype='object')

2) Numpy Computations

Means

In [58]:
np_arrs_mean = []
for i, col in enumerate(np_arrs):
    np_arrs_mean.append(np.mean(col))
    print(f"{numeric_cols.columns[i]}  Mean: {np_arrs_mean[i]}")

bill_length_mm  Mean: 43.9219298245614
bill_depth_mm  Mean: 17.151169590643278
flipper_length_mm  Mean: 200.91520467836258
body_mass_g  Mean: 4201.754385964912

Medians

In [60]:
np_arrs_median = []
for i, col in enumerate(np_arrs):
    np_arrs_median.append(np.median(col))
    print(f"{numeric_cols.columns[i]}  Median: {np_arrs_median[i]}")

bill_length_mm  Median: 44.45
bill_depth_mm  Median: 17.3
flipper_length_mm  Median: 197.0
body_mass_g  Median: 4050.0

Standard Deviations

In [64]:
np_arrs_std = []
for i, col in enumerate(np_arrs):
    np_arrs_std.append(np.std(col))

    print(f"{numeric_cols.columns[i]} Standard Deviation: {round(np_arrs_std[i], 4)}")

bill_length_mm Standard Deviation: 5.4516
bill_depth_mm Standard Deviation: 1.9719
flipper_length_mm Standard Deviation: 14.0411
body_mass_g Standard Deviation: 800.7812

Maximums

In [72]:
np_arrs_max = []
for i, col in enumerate(np_arrs):
    np_arrs_max.append(np.max(col))

    print(f"{numeric_cols.columns[i]} Max: {round(np_arrs_max[i], 4)}")
np_arrs_max = np.array(np_arrs_max)

bill_length_mm Max: 59.6
bill_depth_mm Max: 21.5
flipper_length_mm Max: 231.0
body_mass_g Max: 6300.0

Minimums

In [73]:
np_arrs_min = []
for i, col in enumerate(np_arrs):
    np_arrs_min.append(np.min(col))

    print(f"{numeric_cols.columns[i]} Min: {round(np_arrs_min[i], 4)}")
np_arrs_min = np.array(np_arrs_min)

bill_length_mm Min: 32.1
bill_depth_mm Min: 13.1
flipper_length_mm Min: 172.0
body_mass_g Min: 2700.0

Ranges

In [75]:
np_arr_range = np_arrs_max - np_arrs_min
for i, x in enumerate(np_arr_range):
    print(f"{numeric_cols.columns[i]} Range: {x}")

bill_length_mm Range: 27.5
bill_depth_mm Range: 8.4
flipper_length_mm Range: 59.0
body_mass_g Range: 3600.0